/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
	:host {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}

:host {
    background: rgba(255, 255, 255, 0.192);
    backdrop-filter: saturate(180%) blur(10px);
	position: absolute;
	//filter: blur(5px) saturate(4);
    border-radius: 5px;
    border: 1px solid rgba(43, 43, 43, 0.568);
    font-size: 1.2rem;

    position: fixed;
    //top:30px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    //height: auto;
    

    overflow: hidden;
    padding: 0.1rem;
    opacity: 1;
    //margin:0.2rem;

    min-width: 200px;
}

:host([mode="close"]) {
    opacity: 0;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease-in;
    //width: 0px;
    //height: 0px;
    //border: 0px;
    z-index: -1!important;
}

:host([mode="open"]) {
    opacity: 1;
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: ease-in;
}

::slotted([slot="caption"]) {
    text-align: center;

    padding: 0.2rem;
    color: white;
    border-bottom: 1px solid white;
}

::slotted([slot="body"]) {
    padding: 0.2rem;
    color: white;
    min-height: 60px;
}
