<main class="google">
    <div class="header">H</div>
    <div class="menu">M</div>
    <div class="sidebar"><form id="m2">M2</form></div>
    <div class="panel"><form id="p2">P2</form></div>
    <div class="side-panel"><form id="p1">
        <fieldset>
            <legend>K</legend>
            <input name="one" required value="welcome">
        </fieldset>
        
        <input name="two" required value="everybody">
    </form>
    <hr/>
    <button type="button" id="x">SEND...</button>
    <hr/>
    <form id="p3">P3</form></div>
    <div class="footer">F</div>


</main>


